.timer {
  display: flex;
  gap: 50px;
  justify-content: left;
  margin-top: 20px;
}

.field {
  text-align: center;
}

.value {
  display: block;
  font-size: 48px;
}

.label {
  display: block;
  font-size: 18px;
}
