.form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
}
label {
  width: 100%;
}
fieldset {
  margin-top: 20px;
}
button {
  margin-top: 20px;
}

input[type='number'] {
  margin-top: 10px;
  width: calc(100% - 10px);
}
